body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: #e9e3e3;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/48/18/question-marks-signs-seamless-pattern-background-vector-22444818.jpg");
}


body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
